name: CI

on:
  push:
    branches: [ 'master' ]
    paths-ignore:
      - '*.md'
  pull_request:
    paths-ignore:
      - '*.md'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: ./.github/actions/setup-build
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/master' }}

      - name: Run build
        run: ./gradlew build
